extends ../layout

block content
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-heading Login
        .panel-body
          form.form-horizontal(role='form', method='POST', action='/users/forgot-password')
            .form-group
              label.col-md-4.control-label Email
              .col-md-6
                input.form-control(type='text',required,name='username',placeholder='Please enter your email')
            .form-group
              .col-md-6.col-md-offset-4
                button.btn.btn-success(type='submit')
                  i.fa.fa-btn.fa-envelope
                  |  Send Email Reset Password
                a.btn.btn-link(href='/users/login') Login